<h1>Tacos</h1> 
</p>Lets eat delish tacos!</p>

<% tacos = ["Shrimp", "Shroom", "Veggie","Steak","FISH"]%>

<p>There are <%=tacos.count %> tacos!</p>
<!---- this is a comment -->

<ul>

<% for taco in tacos%>
  <li><%= taco%></li>
<% end %>  

</ul>